.mynav{
    position: fixed;
    background-color:grey;
    width: 100%;
    height: 15%;
}
.mynav ul{
    list-style: none;
    padding:0;
    margin:0;
}
.mynav ul li{
display:inline ;
padding:40px;

}
.mynav ul li a{
    padding: 20px 15px;
    color: white;
    text-decoration:none;
    text-align: center;
    display: inline-block;
    flex: auto;
    font-family:"roboto";
    
}